<html lang="en-US">
<head>
    <title>Welcome to eShop Index!</title>
    <style></style>
</head>

<body>
    <p>In order to start using your account you need to activate it. To do so, just click the link below and you will be redirected to the account confirmation page.</p>

    <p>
        <a href="{{ url }}account/register/activate/{{ user_id_b64 }}/{{ token }}">
            {{ url }}account/register/activate/{{ user_id_b64 }}/{{ token }}
        </a>
    </p>

    <p>The eShop Index Team.</p>
</body>
